<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />

    <title>My Website - About</title>
  </head>
  <body>
    <h1>Al-Romario Davis</h1>
    <p>
      As a computer science student, I have a passion for technology and a drive
      to learn and grow in the field. My studies have given me a strong
      foundation in the principles of computer science, including algorithms,
      data structures, computer systems, and software engineering. I am
      continually developing my skills and expanding my knowledge, whether
      through coursework, projects, or self-study. I am confident in my ability
      to tackle challenging problems and eager to apply my skills to real-world
      scenarios. With my dedication and drive, I am well on my way to a
      successful career in computer science.
    </p>
    <img
      src="{{ url_for('static', filename=images/pic_of_woman.jpg) }}"
      alt="picture of a woman"
    />
  </body>
</html>
